<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--برای اینکه قابلیت جدید را داخل برنامه پیاده سازی کنیم نیاز هست که در
    پرمیژن یعنی کد زیر آن را اضافه کنید -->
    <!--کد زیر دراصل برای اجازه گرفتن از کاربر است مانند اینکه اجازه برای
    دسترسی به تنظیمات و غیره-->
    <uses- android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/android_class"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidFanavari40205"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!--همان آلارمی که در بالا پرمیژن برایش تعریف کردیم را در
                اینجا نیز باید کد های زیر را برایش تعریف کنیم-->
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />

                <!--برای رفتن به سایت نیز باید حالت دیفالت بالا و کد زیر را اضاقفه کنیم
                ولی چون دیفالت را موجود داریم فقط پایینی را اضافه میکنیم-->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>